*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2D2C2C;
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 1.5rem 0;
}

main {
    padding: 0 1rem;
}